<div class="container">
      <h2 class="subtitle has-text-weight-bold">Windbuddies.de</h2>
      <p>
        Wingbuddies ist eine interaktive Plattform für Wingsurfer. Wingsurfer lernen 
        sich kennen, tauschen sich aus und verabreden gemeinsame Sessions. Mit 
        dem Sessionplaner kannst Du private, öffentliche oder nur Deinem Freundeskreis 
        sichtbare Sessions planen. 
      </p>
</div>
